@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #00a19a;
  --text-color: #fff;
  --second-color: #2e282a;
  --third-color: #001524;
}

[data-theme="red"] {
  --background-color: #f71735;
  --text-color: #fdfffc;
  --second-color: #011627;
  --third-color: #41ead4;
}
[data-theme="white"] {
  --background-color: #3772ff;
  --text-color: #080708;
  --second-color: #fdca40;
  --third-color: #ffc857;
}

[data-theme="pink"] {
  --background-color: #1d1d1d;
  --text-color: #fdfffc;
  --second-color: #a3cef1;
  --third-color: #ffb703;
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 2px;
  background-color: var(--background-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2px;
}

.text-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--text-color);
  transition: width 0.4s ease;
}

.text-underline:hover::after {
  width: 120%;
}
::selection {
  background-color: var(--second-color);
  color: var(--background-color);
}
